* {
    box-sizing: border-box;
    border: 2px solid red;
}

img {
    width: 380px;
    vertical-align: top;
}

ul {
    border: 3px solid lightgreen;
    list-style: none;
}

li {
    border: 3px solid rgb(60, 73, 187);
    display: inline-block;
    margin: auto;
    align-items: center;

}

.recipe-content p {
    margin-top: -15px;
}

.recipe-card {
    width: 800px;
    background-color: rgb(252, 234, 209);
    margin: 30px auto;
}

.recipe-content {
    padding: 20px;
    display: inline-block;
    width: 600px;
}

.more-info-section {
   
}

.view-button {
    display: inline;
}