* {
    box-sizing: border-box;
}

img {
    width: 500px;
    vertical-align: top;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;

}

.view-button {
    display: inline;
}

.more-info-section {
    display: inline-block;
}

.recipe-card {
    width: 1200px;
    background-color: rgb(252, 234, 209);
    margin: 30px auto;
}

.recipe-content {
    padding: 20px;
    display: inline-block;
    width: 600px;
}